/* GENERAL STYLES */

body,
main,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-size: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  /* background-image: url("./images/blue-background.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90vh; */
}

.block {
  box-shadow: 1vw 1vw 2vw 1px rgba(0, 0, 0, 0.6);
}

p,
h1,
h2,
ul {
  font-family: "Concert One", Oswald;
}

a:hover {
  color: #ccc;
}

a:active {
  color: aquamarine;
}

ul {
  list-style-type: square;
}

@media only screen and (min-width: 700px) {
  h1 {
    font-size: 2.25em;
  }

  h2 {
    font-size: 1.75em;
  }

  p,
  ul {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.85em;
  }

  p {
    font-size: 1.7em;
    font-stretch: extra-expanded;
  }

  ul {
    font-size: 1.7em;
  }
}

/* GENERAL STYLES END */
/*////////////////////////////////////////////////////////////////////////////*/

/* PROFILE BLOCK STUFF */

#profile-block {
  text-align: center;
  background-color: #bfd7ea;
  border-radius: 4px;
  margin: 0;
  padding-bottom: 5px;
  padding-top: 40px;
}

#profile-block p {
  padding-left: 10vw;
  padding-right: 10vw;
}

/** H1  stuff */
h1 {
  margin: 0;
  background-color: #2c4251;
  color: whitesmoke;
  border-radius: 4px;
  display: block;
  padding-top: 10px;
  position: fixed;
  width: 100vw;
  text-align: center;
}
/** H1  stuff end */

/** Avatar stuff */
/***Original dimensions 528 x 560* ratio =  1:1.0606*/
#avatar {
  height: 319px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
/** Avatar stuff end */

/* PROFILE BLOCK STUFF END */
/*////////////////////////////////////////////////////////////////////////////*/

/* SKILLS BLOCK STUFF */

#skills-block {
  background-color: #d3f3ee;
  border-radius: 4px;
  padding-bottom: 5px;
}

#skills-block h2 {
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 4vw;
  text-align: center;
}

#frontend-toolkit,
#backend-toolkit {
  display: inline-block;
  background-color: #262626;
  color: #ccc;
  width: 41vw;
  border-radius: 10px;
  padding-left: 5px;
  margin-left: 5vw;
}

#other-toolkit {
  display: flex;
  margin-left: 5vw;
  width: 90vw;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 3vw;
}

#frontend-toolkit h3,
#backend-toolkit h3 {
  display: block;
  padding-left: 2vw;
}

#other-toolkit h3 {
  display: block;
  padding-left: 2vw;
}

.toolkit {
  background-color: #262626;
  color: #ccc;
  width: 40vw;
  border-radius: 10px;
  box-shadow: 0vw 1vh 5vh 1px rgba(0, 0, 0, 0.6);
  margin-left: auto;
  margin-right: auto;
}
/* SKILLS BLOCK STUFF END */
/*////////////////////////////////////////////////////////////////////////////*/

/* PROJECT BLOCK STUFF */
#project-block {
  background-color: #bfd7ea;
  max-width: 100vw;
  width: 100vw;
  border-radius: 4px;
  padding-bottom: 5px;
}

#project-block > h2 {
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-align: center;
  background-color: #2c4251;
}

.project-container {
  max-width: 100vw;
  width: 100vw;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  margin-bottom: 5px;
}

.project-headline > h2 {
  text-decoration: underline;
  margin-top: 0;
  padding-top: 30px;
}
/** individual project title styles begin */
.go-headline h2 {
  background-color: #317b22;
}

.asl-headline h2 {
  background-color: #f3de8a;
}

.into-the-maw-headline h2 {
  background-color: #c20114;
}

.snek-headline h2 {
  background-color: #4a0d67;
}

/** individual project title styles end */

#project-block h2 {
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 1vh;
}

.project-image {
  max-width: 90vw;
  max-height: 90vw;
  margin-bottom: 2vh;
}

/** individual project image styles begin */

#go-project-image {
  width: 90vw;
  height: 50.24vw;
}

#asl-project-image {
  width: 90vw;
  height: 90vw;
}

/** individual project image styles end */

img {
  max-height: 800px;
  max-width: 800px;
}

.project-tech-stack h3 {
  padding-top: 2vh;
  text-decoration: underline;
}

.project-tech-stack {
  width: 90vw;
}

.tech-stack-list {
  list-style-type: none;
  padding: 0;
  padding-bottom: 2vh;
}

.project-image {
  border-radius: 8px;
  border: 2px grey;
}

.project-container:hover {
  box-shadow: inset 0 0 0 1px #262626;
}

/*////////////////////////////////////////////////////////////////////////////*/

/* CONTACT BLOCK BEGIN */

#contact-block {
  background-color: #d3f3ee;
}

#contact-block h2 {
  text-align: center;
}

/* CONTACT BLOCK END */
